# No Macbook Finder files
.DS_Store
.ipynb_checkpoints/

# No freesurfer license files
license.txt

workingdir/
testResults/
__pycache__/

# nipype bug where fslstats result saved as file
MSNForge/stat_result.json
MSNForge/__pycache__

# temporary helper function i'm using
runRad.py

